<h2><%= @game.name %></h2>
<p>Available for <%= @game.platform %>, <%= @game.rating %></p>
<p><%= @game.description %></p>

<% if @game.reviews.first.user == current_user %>
    <%= button_to 'Edit Game', edit_game_path(@game), method: :get %>
    <%= button_to 'Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure you want to delete this game and all its reviews?' } %>
<% end %>

<%= button_to 'Write Review', new_game_review_path(@game), method: :get unless current_user == @game.reviews.first.user%>


<br><h3>Reviews</h3>

<% @game.reviews.each do |review| %>
    <div class="review">
        <h4><%= review.title %></h4>
        <h4><%= review.rating %> Star(s) - <%= review.recommend ? "Would Recommend" : "Would Not Recommend" %></h4>
        <p><%= review.content %></p>
    </div>
<% end %>

<% if !user_signed_in? %>
    <h3>Cannot find what you are looking for? <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Log In', new_user_session_path %> and create your own Games and Reviews!</h3> 
<% end %>