<h3>Hi <%= @user.first_name.capitalize %>! Here are all the reviews you have written so far</h3>

<%= form_tag games_select_game_path, id: "form" do %>
    <%= hidden_field_tag 'user', @user.id %>
    <%= select_tag 'game_id', options_from_collection_for_select(@games, "id", "name") %>
    <%= submit_tag "Find Game", id: "select-game" %>
<% end %>

<div id="review-list"> 
  <ul>
    <% @user.reviews.each do |r| %>
      <% unless r.game == nil %>
        <li>
            <%= link_to r.title, game_review_path(r.game, r) %>
            for <%= r.game.name %> <br>
            created at <%= r.created_at.strftime('%A, %b %d, %Y') %>
        </li> 
        <% else %>
      <% end %>
    <% end %>   
  </ul>
</div>

<p><%= button_to 'Create new Review', games_select_game_path, method: :get %></p>