<h1><%= @review.game.name %></h1>
<h3><%= @review.rating %> Star(s) - <%= @review.recommend ? "Would Recommend" : "Would Not Recommend" %></h3>
<h2><%= @review.title %></h2>
<p><%= @review.content %></p>

