<button class="js-next" review-id="<%= @review.id %>" game-id="<%= @review.game_id %>" type="button">Next Review</button>


<h1 id="r-game"><%= @review.game.name.capitalize %></h1>
<div id="review-display">
    <h3 id="r-title"><%= @review.title %></h3>
    <h4 id="r-rating"><%= @review.rating %> Star(s) - <%= rec(@review) %></h4>
    <p id="r-content"><%= @review.content %></p>
</div>

<%= button_to 'Edit Review', edit_game_review_path(@review.game, @review), method: :get, id: "edit-button" %>
<%= button_to 'Delete Review', game_review_path(@review.game, @review), method: :delete, id: "delete-button" %>
<a href="/games/<%= @review.game_id %>", class="show-reviews"><button data-id="<%= @review.game_id %>" type="button">Show All Reviews</button></a>