<!DOCTYPE html>
<html>
  <head>
    <title>GamePick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= csrf_meta_tag %>
    <header><h1>GamePick</h1></header>

    <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
        </div>
    <% end %>
    
    <nav>
        <a href="/reviews">My Reviews</a>
        <a href="/games/select_game">Create New Review</a>
        <a href="/games/game_overview">Find Reviews</a>
        <%= link_to "Log Out", destroy_user_session_path %>   
    </nav> <br>
    
    <%= yield %>
    
  </body>

</html>
