<!DOCTYPE html>
<html>
  <head>
    <title>VideoGameReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1>Video Game Reviews</h1></header>

    <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
        </div>
    <% end %>

    <nav>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Log In', new_user_session_path %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    </nav> <br>
    
    <%= yield %>
    
  </body>
</html>